@model IEnumerable<ExamProject.Models.Voiture>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">@_localizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ImagePath)*@
                @_localizer["Picture"]
            </th>
            <th>
                @_localizer["Make"]
            </th>
            <th>
                @_localizer["Model"]
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PrixParJour)*@
                @_localizer["Price Per Day"]
            </th>
            <th>
                @_localizer["Year"]
            </th>
            <th>
                @_localizer["Mileage"]
            </th>
            <th>
                @_localizer["Color"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImagePath)" width="150px" height="100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marque.NomMarque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.NomModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrixParJour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Annee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kilometrage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Couleur)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@_localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@_localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@_localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
